MAIN_DOMAIN=

# Flask
FLASK_SECRET_KEY=
HCAPTCHA=
JWTSECRET=

# Google auth
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

# Email sending
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# ADMIN
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Redis
REDIS_URL=