/* MAIN */
body{
    margin: 0;
    background-color: #cbffce
}
a{
    text-decoration: none;
}

/* HEADER */

.header{
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 10vh;
    background-color: #acff9e;
}
.link_part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 100%;
}
.auth_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 100%;
}
.tw_pr{
    justify-content: center;
    width: 20%;
    height: 50%;
}
.link_head{
    color: #1e3e0e;
    text-decoration: none;
    font-size: 3.5vh;
}
.signup_btn{
    width: 8vw;
    height: 5vh;
    margin-right: 1vw;
    border: 0.4vh solid #1e3e0e;
    border-radius: 1vh;
    font-size: 2.2vh;
    background-color: #c9fdcb;
}
.signup_btn:active{
    background-color: #8cb08d;
}
.login_btn{
    width: 8vw;
    height: 5vh;
    margin-right: 2vw;
    border: 0px;
    border-radius: 1vh;
    font-size: 2.2vh;
    background-color: #1e3e0e;
    color: #cbffce;
}
.login_btn:active{
    background-color: #3b791c;
}


/* CONTENT */

.content{
    width: 100%;
    height: 90vh;
    position: relative;
    top: 10vh;
    z-index: 1;
    background-color: #cbffce
}
.full_screen{
    width: 100%;
    height: 100vh;
    background-color: #cbffce
}
.middle_block{
    display: flex;
    margin: 0 auto;
    padding-top: 6vh;
    width: 85%;
    text-align: center;
}
.half_middle_block{
    width: 50%;
    text-align: left;
    padding-right: 10%;
}
.main_text{
    font-size: 5vh;
    color: #1e3e0e;
    margin-bottom: 2.5vh;
}
.descript_text{
    font-size: 2vh;
    color: #1e3e0e;
}
.main_button_prices{
    width: 14vw;
    height: 6vh;
    margin-right: 1vw;
    border: 0px;
    border-radius: 1vh;
    font-size: 2.8vh;
    background-color: #AAFC9C;
    color: #1e3e0e;
}
.main_button_prices:active{
    background-color: #7ab470;
}
.main_button_free{
    width: 14vw;
    height: 6vh;
    margin-right: 1vw;
    border: 0px;
    border-radius: 1vh;
    font-size: 2.4vh;
    background-color: #CBFFCE;
    color: #1e3e0e;
    text-decoration: underline;
}
.main_button_free:active{
    color: #428620;
}
.img_content{
    width: 35vw;
    border-radius: 2vh;
    margin-top: 6vh;
}
.block_display{
    display: block;
}
.main_button_return_back{
    width: 18vw;
    height: 6vh;
    margin-right: 1vw;
    border: 0px;
    border-radius: 1vh;
    font-size: 2.8vh;
    background-color: #AAFC9C;
    color: #1e3e0e;
}
.form_middle{
    margin: 0 auto;
    padding-top: 20vh;
    width: 28%;
    text-align: left;
}
.form_middle_wide{
    margin: 0 auto;
    padding-top: 20vh;
    width: 35%;
    text-align: left;
}
.center_text{
    text-align: center;
}
.label_form{
    font-size: 3vh;
    color: #1e3e0e;
}
.input_form_field{
    height: 2.5vh;
    background-color: #CBFFCE;
    border-radius: 2vh;
    border: 1px solid #1e3e0e;
    width: 12.5vw;
    position: relative;
    top: -0.2vh;
    padding-left: 0.5vw;
    margin-bottom: 0.5vh;
}
.capcha_placement{
    position: relative;
    top: 1vh;
}
.submit_button{
    width: 10vw;
    height: 5vh;
    margin-right: 1vw;
    margin-top: 2.5vh;
    border: 1.5px solid #1e3e0e;
    border-radius: 1vh;
    font-size: 2.2vh;
    background-color: #CBFFCE;
    color: #1e3e0e;
}
.submit_button:disabled{
    border: 1.5px solid #1e3e0e70;
    color: #1e3e0e70;
    background-color: #CBFFCE;
}
.submit_button:active:disabled{
    background-color: #CBFFCE;
}
.submit_button:active{
    background-color: #96bc99;
}
.text_upper{
    font-size: 2vh;
    color: red;
}
.text_under{
    font-size: 1.9vh;
}
.display_block{
    width: 100%;
    display: block;
}
.logout_button{
    margin-left: 0.75vw;
    width: 2.25vh;
    height: 2.5vh;
}
.auth_with_google_logo{
    width: 3vh;
    height: 3vh;
    margin-right: 2vh;
}
.auth_with_google_button{
    display: flex;
    align-items: center;
    padding: 0.75vh 2.5vh 0.75vh 1.25vh;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 1.5vh;
    background-color: #fff;
    font-size: 1.5vh;
    margin-bottom: 2vh;
}
.auth_with_google_button:active{
    background-color: #a8a8a8;
}
.changeSL{
    text-decoration: underline;
}
.auth_div{
    margin: 0 auto;
    width: 23vh;
}
.left_side_h{
    position: fixed;
    top: 10vh;
    z-index: 5;
    width: 20%;
    height: 90vh;
    background-color: #c4ffba;
    text-align: center;
}
.middle_block_h{
    display: flex;
    margin-left: 20%;
    padding-top: 6vh;
    width: 80%;
    text-align: center;
    justify-content: center;
}
.left_side_link_d{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: #c4ffba;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
}
.line_hor{
    width: 100%;
    background-color: #8acd80;
    height: 2px;
}
.left_side_link{
    color: black;
}
.left_side_link:active{
    color: rgb(48, 75, 38);
}
.menu_text_left_side{
    font-size: 3.5vh;
}
.display_block_settings{
    width: 100%;
    display: block;
    padding: 0 0 0 8vw;
    text-align: left;
}
.no_margin_bottom{
    margin-bottom: 0;
}
.margin_bottom{
    margin-bottom: 1.5vh;
}
.small_text{
    position: relative;
    top: 0.5vh;
    font-size: 1.5vh;
    color: grey;
}
.setting_text{
    font-size: 2.5vh;
    color: #1e3e0e;
}
.save_setting_button{
    height: 2.6vh;
    background-color: #b3fdb6;
    border-radius: 2vh;
    border: 1px solid #1e3e0e;
    width: 6.5vw;
    position: relative;
    top: -0.16vh;
    padding-left: 0.5vw;
    margin-bottom: 0.5vh;
    font-size: 2vh;
}
.text_error{
    font-size: 2vh;
    color: red;
    margin-top: 0;
}
.text_success{
    font-size: 2vh;
    color: rgb(0, 99, 38);
    margin-top: 0;
}
.arrow_back_auth{
    position: fixed;
    text-align: left;
    font-size: 2.4vh;
    color: black;
}
.text_center{
    text-align: center;
}