<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Admin login</title>
    <script>
        function onCapchaSuccess(){document.getElementById("submit_button").disabled = false;}
    </script>
</head>
<body>
    <div class="full_screen">
        <div class="form_middle">
        
            <p class="main_text center_text">Admin login</p>
            <p class="descript_text">If you are not an admin exit this page <a href="/">Go back</a></p>
            
            {% if error %}
                <p class="text_upper">{{ error }}</p>
            {% endif %}

            <form action="/admin_login_submit" method="POST">
                <label for="username" class="label_form"> Enter username: </label>
                <input type="text" id="username" name="username" class="input_form_field" placeholder="Username" required autocomplete="username">
                <br>
                <label for="password" class="label_form"> Enter password: </label>
                <input type="password" id="password" name="password" class="input_form_field" placeholder="Password" required autocomplete="current-password"><br>
                <input type="checkbox" id="reveal_password" onclick="showPassword()"> <label for="reveal_password">Show password</label> <br> <br>

                <div class="h-captcha capcha_placement" data-sitekey="0ff041fe-1418-4c74-8bca-10882266eb3a" data-callback="onCapchaSuccess"></div>
                <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

                <input type="submit" id="submit_button" class="submit_button" value="Enter as Admin" disabled>
            </form>
        </div>
    </div>
</body>
</html>