<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Error page</title>
</head>
<body>
    <div class="full_screen">
        <div class="middle_block block_display">
            <p class="main_text">This is an Error page!</p>
            <p class="descript_text">If you are brought here by some link - dont worry, this is non existent page or website error, press button bellow to return to Home page!</p>
            <button class="main_button_return_back" onclick="window.location.href='/';">Return back to Home page</button>
            
        </div>
    </div>
</body>
</html>