<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <title>Home page</title>
</head>
<body>
    <div class="header">
        <div class="link_part">
            <div class="tw_pr"><a href="" class="link_head">About us</a></div>
            <div class="tw_pr"><a href="" class="link_head">Prices</a></div>
            <div class="tw_pr"><a href="" class="link_head">Contacts</a></div>
        </div>
        <div class="auth_buttons">
            <button class="signup_btn">Sign up</button>
            <button class="login_btn">Log in</button>
        </div>
    </div>
    <div class="content">
        
    </div>
</body>
</html>