<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <title>User page</title>
</head>
<body>
    <div class="header">
        <div class="link_part">
            <!-- <div class="tw_pr"><a href="" class="link_head">← Back</a></div> -->
        </div>
        <div class="auth_buttons">
            {% if username %}
                <a href="/settings"> {{ username }} </a> 
            {% else %}
                <a href="/settings"> Google Auth </a>
            {% endif %}
            <a href="/logout"><img class="logout_button" src="{{ url_for('static', filename='img/logout_button.png') }}" alt="logout_button"></a>
        </div>
    </div>
    <div class="content">
        <div class="left_side_h">
            <a href="">Dashboard</a> <br>
            <a href="">Second page</a> <br>
            <a href="/settings">Settings</a> <br>
        </div>
        <div class="middle_block_h">
            <div class="display_block">
                <p class="main_text">This is a {{ username }} page!</p> <br>
                <p class="descript_text">User id: {{ user_id }}</p> <br>
                <p class="descript_text">Email: {{ email }}</p> <br>
                <p class="descript_text">Created at: {{ created_at }}</p> <br>
            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            
        </div>
    </div>
</body>
</html>