<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Login page</title>
    <script>
        function onCapchaSuccess(){document.getElementById("submit_button").disabled = false;}
    </script>
</head>
<body>
    <div class="full_screen">
        <div class="form_middle">
            <p class="main_text center_text">Log in</p>
            {% if error %}
                <p class="text_upper">{{ error }}</p>
            {% endif %}

            <div class="auth_div">
                <a href="/google_auth">
                    <button class="auth_with_google_button"> <img class="auth_with_google_logo" src="https://user-images.githubusercontent.com/194400/70987158-4069c900-20b7-11ea-892e-8a2e1166b6b7.png" alt="google logo image"> Continue with google</button>
                </a>
            </div>
            
            <form action="/login_submit" method="POST">
                <label for="username" class="label_form"> Enter username: </label>
                <input type="text" id="username" name="username" class="input_form_field" placeholder="Username">
                <br>
                <label for="password" class="label_form"> Enter password: </label>
                <input type="password" id="password" name="password" class="input_form_field" placeholder="Password">

                <div class="h-captcha capcha_placement" data-sitekey="0ff041fe-1418-4c74-8bca-10882266eb3a" data-callback="onCapchaSuccess"></div>
                <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

                <input type="submit" id="submit_button" class="submit_button" value="Log in" disabled>
            </form>
            <p class="text_under">Don't have an account <a href="/signup" class="changeSL">Sign up</a></p>
        </div>
    </div>
</body>
</html>