<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Password was reset successfully</title>
</head>
<body>
    <div class="full_screen">
        <div class="form_middle">
        
            <p class="main_text center_text">Password was reset successfully</p>
            <p class=""descript_text>Password was reset successfully! You can now login with new password!</p>
            <a href="/login"><button class="submit_button">Go to Login page</button></a>
        </div>
    </div>
</body>
</html>