<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Reset password</title>
    <script>
        function onCapchaSuccess(){document.getElementById("submit_button").disabled = false;}
    </script>
</head>
<body>
    <div class="full_screen">
        <div class="form_middle_wide">

            <p class="main_text center_text">Reset password</p>
            {% if error %}
                <p class="text_upper">{{ error }}</p>
            {% endif %}
            
            <form action="/reset_password_link" method="POST">
                <input type="hidden" name="token" value="{{ token }}">

                <label for="password" class="label_form"> Enter new password: </label>
                <input type="text" id="password" name="password" class="input_form_field" placeholder="Enter new passowrd" required autocomplete="new-password"> <br>

                <label for="repeated_new_password" class="label_form"> Repeat new password: </label>
                <input type="text" id="repeated_new_password" name="repeated_new_password" class="input_form_field" placeholder="Repeat new password" required>

                <div class="h-captcha capcha_placement" data-sitekey="0ff041fe-1418-4c74-8bca-10882266eb3a" data-callback="onCapchaSuccess"></div>
                <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

                <input type="submit" id="submit_button" class="submit_button" value="Reset passowrd" disabled>
            </form>
        </div>
    </div>
</body>
</html>