<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <title>Settings</title>
</head>
<body>
    <div class="header">
        <div class="link_part">
            <div class="tw_pr"><a href="/home_user" class="link_head">← Back</a></div>
        </div>
        <div class="auth_buttons">
            {% if username %}
                <a href="/settings"> {{ username }} </a> 
            {% else %}
                <a href="/settings"> Google Auth </a>
            {% endif %}
            <a href="/logout"><img class="logout_button" src="{{ url_for('static', filename='img/logout_button.png') }}" alt="logout_button"></a>
        </div>
    </div>
    <div class="content">
        <div class="middle_block">
            <div class="display_block">
                <p class="main_text">This is a {{ username }} settings page!</p> <br>
                <p class="descript_text">User id: {{ user_id }}</p> <br>
                <p class="descript_text">Email: {{ email }}</p> <br>
                <!-- <p class="descript_text">Google id: {{ google_id }}</p> <br> -->
                <p class="descript_text">Created at: {{ created_at }}</p> <br>
            </div>
            
        </div>
    </div>
</body>
</html>