<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Settings</title>
</head>
<body>
    <div class="header">
        <div class="link_part">
        </div>
        <div class="auth_buttons">
            {% if username %}
                <a href="/settings"> {{ username }} </a> 
            {% else %}
                <a href="/settings"> Google Auth </a>
            {% endif %}
            <a href="/logout"><img class="logout_button" src="{{ url_for('static', filename='img/logout_button.png') }}" alt="logout_button"></a>
        </div>
    </div>
    <div class="content">
        <div class="left_side_h">
            <p class="menu_text_left_side">Settings</p>
            <div class="left_side_link_d"><a class="left_side_link" href="/home_user">Landing page</a></div> <div class="line_hor"></div>
            <div class="left_side_link_d"><a class="left_side_link" href="">Dashboard</a></div> <div class="line_hor"></div>
            <div class="left_side_link_d"><a class="left_side_link" href="/settings">Settings</a></div> <div class="line_hor"></div>
        </div>
        <div class="middle_block_h">
            <div class="display_block_settings">
                <p class="main_text no_margin_bottom">{% if username %} {{ username }} {% else %} {{email}} {% endif %}'s settings page</p>
                <span class="small_text margin_bottom">user id: {{ user_id }}</span> <br> <br>

                {% if error %}<p class="text_error">{{ error }}</p> {% endif %}
                {% if success %}<p class="text_success">{{ success }}</p> {% endif %}
                
                {% if username %}
                <form action="/update_email" method="post">
                    <label class="setting_text" for="change_email">Email:</label>
                    <input class="input_form_field" type="email" placeholder="email" value="{{ email }}" id="change_email" name="new_email" required> <br>
                    <label class="setting_text" for="password_to_confirm">Password:</label>
                    <input class="input_form_field" type="password" name="password" placeholder="Password" id="password_to_confirm" required>
                    <input class="save_setting_button" type="submit" value="save"> <br> <br>
                </form>
                <form action="/update_password" method="post">
                    <label class="setting_text" for="change_password_old">Old password:</label>
                    <input class="input_form_field" type="password" placeholder="old password" id="change_password_old" required> <br>
                    <label class="setting_text" for="change_password_new">New password:</label>
                    <input class="input_form_field" type="password" placeholder="old password" id="change_password_new" required>
                    <input class="save_setting_button" type="submit" value="save">
                </form>
                {% endif %}

                <p class="descript_text">Created at: {{ created_at }}</p> <br>
            </div>
            
        </div>
    </div>
</body>
</html>