<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/plant.png') }}" type="image/x-icon">
    <title>Settings</title>
</head>
<body>
    <div class="header">
        <div class="link_part">
        </div>
        <div class="auth_buttons">
            {% if username %}
                <a href="/settings"> {{ username }} </a> 
            {% else %}
                <a href="/settings"> Google Auth </a>
            {% endif %}
            <a href="/logout"><img class="logout_button" src="{{ url_for('static', filename='img/logout_button.png') }}" alt="logout_button"></a>
        </div>
    </div>
    <div class="content">
        <div class="left_side_h">
            <p class="menu_text_left_side">Settings</p>
            <div class="left_side_link_d"><a class="left_side_link" href="/home_user">Landing page</a></div> <div class="line_hor"></div>
            <div class="left_side_link_d"><a class="left_side_link" href="">Dashboard</a></div> <div class="line_hor"></div>
            <div class="left_side_link_d"><a class="left_side_link" href="/settings">Settings</a></div> <div class="line_hor"></div>
        </div>
        <div class="middle_block_h">
            <div class="display_block">
                <p class="main_text">This is a {% if username %} {{ username }} {% else %} Google Auth {% endif %} settings page!</p> <br>
                <p class="descript_text">User id: {{ user_id }}</p> <br>
                <p class="descript_text">Email: {{ email }}</p> <br>
                <p class="descript_text">Created at: {{ created_at }}</p> <br>
            </div>
            
        </div>
    </div>
</body>
</html>